@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600');
html, body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
body, .form-control{
    font-weight: 300;
}
.title_light{
    font-weight: 200;
}

#wrapper {
    min-height: 100%;
}

#container {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
    margin-bottom: 60px;
}

#footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
    background: #2B2B2B;
    font-weight: 200;
}
#footer a{
    color: #ffffff;
}

/* Fix For Font-Awesome */
.input-group-addon .fa {
    width: 1em;
    text-align: center;
}

/* Navbar */

.navbar {
    background-color: #2680be;
}
.navbar .navbar-brand {
    color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffffff;
}
.navbar .navbar-text {
    color: #ffffff;
}
.navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
    background-color: #005380;
}
.navbar .navbar-toggle {
    border-color: #005380;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #005380;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}
.navbar .navbar-link {
    color: #ffffff;
}
.navbar .navbar-link:hover {
    color: #ffffff;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



/* Sign in */
.pointer{
    cursor: pointer;
}

.signin-container{
    border: 1px solid #CCCCCC
}
.signin-bottom{
    border-bottom: 1px solid #CCCCCC
}
@media (min-width: 992px) {
    .signin-container{
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: 1px solid #CCCCCC;
    }
}

.slider-block{
    background: url("../images/slider.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}
.slider-block .slider-content{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: rgba(0, 0, 0, 0.3);
}
.slider-block .slider-content h1{
    font-weight: 200;
    margin-bottom: 50px;
    text-shadow: 4px 2px  2px #000000;
}